<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet"/>

        <link rel="stylesheet" href="scss/style.css"/>

        {% block styles %}{% endblock styles %}

        {# usa como padrao este bloco de title #}
        {% block title %}
            <title>Ecoleta</title>
        {% endblock title %}

        {# {% block styles%}{% endblock styles%} #}
        {# usado pra substituir blocos nas pages html #}
    </head>
    <body>
        <div id="{{ bodyId }}">
            {% block content %}{% endblock content %}
        </div>

        {% block modal %}{% endblock modal %}

        {% block scripts %}{% endblock scripts %}
    </body>
</html>